In [1]:
import pandas as pd
import numpy as np
import mysql.connector
import re

In [2]:
# upload all files
df1 = pd.read_csv('punks_atributes1.csv',index_col='id')
df2 = pd.read_csv('punks_atributes2.csv',index_col='id')
df3 = pd.read_csv('punks_atributes3.csv',index_col='id')
df4 = pd.read_csv('punks_atributes4.csv',index_col='id')
df5 = pd.read_csv('punks_atributes5.csv',index_col='id')

In [3]:
# merge into a single csv
df = pd.concat([df1,df2,df3,df4,df5],ignore_index=True)
df.drop('Unnamed: 0',axis=1,inplace=True)

In [7]:
# tenemos 10,000 punks
df.shape

(10000, 5)

In [5]:
df.to_csv('punks_atributes.csv')

In [8]:
df.head()

,types,rarity,skin,total_traits,traits
0,Female,2023,Mid,3,"Blonde Bob,Earring,Green Eye Shadow,Hidden Ear..."
1,Male,4352,Dark,2,"Mohawk,Smile"
2,Female,8090,Light,1,Wild Hair
3,Male,7896,Dark,3,"Nerd Glasses,Pipe,Wild Hair"
4,Male,7332,Mid,4,"Big Shades,Earring,Goat,Wild Hair"

In [9]:
df.tail()

,types,rarity,skin,total_traits,traits
9995,Female,2466,Albino,2,"Purple Eye Shadow,Straight Hair Dark"
9996,Male,4323,Light,4,"Cigarette,Crazy Hair,Earring,Smile"
9997,Zombie,498,Zombie,2,"Cap Forward,Front Beard"
9998,Female,1271,Mid,3,"Black Lipstick,Clown Eyes Green,Wild White Hair"
9999,Female,9233,Dark,2,"Mohawk,Nerd Glasses"

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   types         10000 non-null  object
 1   rarity        10000 non-null  int64
 2   skin          10000 non-null  object
 3   total_traits  10000 non-null  int64
 4   traits        9992 non-null   object
dtypes: int64(2), object(3)
memory usage: 390.8+ KB

In [ ]:
def get_hidden_trait(text):
    pattern = 'Hidden\s(\w+)'
    try:
        match = re.findall(pattern,text)
        if match:
            hidden_trait = match[0]
            return hidden_trait
    except:
        return None

In [ ]:
df['hidden_trait']=df['traits'].apply(get_hidden_trait)

In [ ]:
df.head()

In [ ]:
tipos = {'Alien':1,'Ape':2,'Zombie':3,'Male':4,'Female':5}

In [ ]:
df['punk_type_id']= df['types'].map(tipos)

In [ ]:
piel = {'Alien':1,'Ape':2,'Zombie':3,'Albino':4,'Dark':5,'Light':6,'Mid':7}

In [ ]:
df['punk_skin_id']= df['skin'].map(piel)

In [ ]:
df.head()

In [ ]:
mydb = mysql.connector.connect(
    host = 'localhost',    
    user = 'manel',
    password = 'itacademy',
    database="mydb")

mycursor = mydb.cursor()

In [ ]:
sql_query = 'SHOW TABLES'
mycursor.execute(sql_query)

for x in mycursor:
  print(x)

In [ ]:
# executo una comanda de SQL language
sql_query = 'SELECT * FROM punk_skin;'
mycursor.execute(sql_query)
myresult = mycursor.fetchmany()
for x in myresult:
  print(x)

In [ ]:
# executo una comanda de SQL language
sql_query = 'SELECT * FROM punk_skin'
mycursor.execute(sql_query)
myresult = mycursor.fetchall()
print(myresult)