In [1]:
import requests
from bs4 import BeautifulSoup
import re
from IPython.display import Image
import time

In [2]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [3]:
# Utilizamos Selenium para extraer datos

from selenium.webdriver import Firefox
from selenium.webdriver.firefox.options import Options
opts = Options()
opts.set_headless()
assert opts.headless  # Operating in headless mode
#browser = Firefox(options=opts)

<ipython-input-3-b56b380520ce>:6: DeprecationWarning: use setter for headless property instead of set_headless
  opts.set_headless()

In [4]:
def extract_rarity_value(text):
    text = text.replace(',','')
    data = int(re.findall('(\d+)',text)[0])
    return data

In [7]:
types=[]
skin=[]
total_traits =[]
traits =[]
punk_id=[]
rarity = []

try:
    for i in range(2000,2000):
        punk_id.append(i)
        browser = Firefox(executable_path = '/home/vant/Descargas/geckodriver-v0.29.1-linux64/geckodriver')
        url = 'https://defypunk.com/punks/'+str(i)
        browser.get(url)
        browser.implicitly_wait(20)

        rars = browser.find_element_by_xpath('/html/body/div/div/main/div/div/div/div[1]/div[2]')

        rarity.append(extract_rarity_value(rars.text))

        items = browser.find_element_by_xpath('/html/body/div/div/main/div/div/div/div[1]')
        # these are the items marked with tag a
        values = items.find_elements_by_tag_name('a')

        types.append(values[0].text)
        skin_property =(values[1].text).split('-')
        skin.append(skin_property[0])
        total_traits.append(values[2].text)
        traits.append(','.join([x.text for x in values[3:]]))
        browser.close()
except Exception as err:
    print(f'exepcion {err}')
    df = pd.DataFrame({'id':punk_id,'types':types,'rarity':rarity,'skin':skin,'total_traits':total_traits,'traits':traits})

In [9]:
df = pd.DataFrame({'id':punk_id,'types':types,'rarity':rarity,'skin':skin,'total_traits':total_traits,'traits':traits})
#df.set_index('id',inplace=True)

In [10]:
df.head()

,id,types,rarity,skin,total_traits,traits
0,100,Female,3658,Mid,1,Tassle Hat
1,101,Male,4069,Mid,2,"Nerd Glasses,Police Cap"
2,102,Male,2078,Mid,2,"Luxurious Beard,Vampire Hair"
3,103,Female,2005,Dark,3,"Black Lipstick,Blonde Bob,Green Eye Shadow"
4,104,Male,6805,Dark,4,"Crazy Hair,Earring,Eye Patch,Normal Beard Black"

In [11]:
df.tail()

,id,types,rarity,skin,total_traits,traits
1895,1995,Male,5995,Dark,3,"Cap,Front Beard,Mole"
1896,1996,Female,3020,Mid,2,"Dark Hair,Pipe"
1897,1997,Male,4187,Mid,3,"Cigarette,Clown Nose,Frumpy Hair"
1898,1998,Male,7540,Dark,3,"Big Shades,Earring,Shaved Head"
1899,1999,Male,1376,Dark,2,"Cowboy Hat,Front Beard"

In [14]:
df.index

RangeIndex(start=0, stop=1900, step=1)

In [15]:
df.to_csv('punks_atributes2.csv')

In [ ]:
  
    # seleccionamos dentro de la Current Market Status la diferente info
    query_text = '/html/body/div[2]/div[3]/div[3]/div//div/text()'
    texts = sel.xpath(query_text).extract()
    texts = [text.strip() for text in texts] # remove spaces at the beggining and the end
    texts = [text for text in texts if len(text)>2] # remove useless empty text
    
    if 'for sale' in texts[1]:        
        text = texts[1].replace(',','')        
        pattern = "[0-9].*\Ξ\s\(\$[0-9]*\)"
        x = re.findall(pattern, text)                  
        datos['sale price']= x
    else:
        datos['transacion type']= None
   
    if 'a bid of' in texts[2]:
        text = texts[2].replace(',','')
        print(text)
        pattern = "[0-9].*\Ξ\s\(\$[0-9]*\)"
        x = re.findall(pattern, text)                 
        datos['bid price']= x[0]
    else:
        datos['bid price']= None
        
    print(datos)