In [1]:
import requests
from bs4 import BeautifulSoup
import re
from IPython.display import Image
import time

In [2]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [3]:
# Utilizamos Selenium para extraer datos

from selenium.webdriver import Firefox
from selenium.webdriver.firefox.options import Options
opts = Options()
opts.set_headless()
assert opts.headless  # Operating in headless mode
#browser = Firefox(options=opts)

<ipython-input-3-b56b380520ce>:6: DeprecationWarning: use setter for headless property instead of set_headless
  opts.set_headless()

In [4]:
def extract_rarity_value(text):
    text = text.replace(',','')
    data = int(re.findall('(\d+)',text)[0])
    return data

In [94]:
types=[]
skin=[]
total_traits =[]
traits =[]
punk_id=[]
rarity = []

try:
    for i in range(100,5000):
        punk_id.append(i)
        browser = Firefox(executable_path = '/home/vant/Descargas/geckodriver-v0.29.1-linux64/geckodriver')
        url = 'https://defypunk.com/punks/'+str(i)
        browser.get(url)
        browser.implicitly_wait(20)

        rars = browser.find_element_by_xpath('/html/body/div/div/main/div/div/div/div[1]/div[2]')

        rarity.append(extract_rarity_value(rars.text))

        items = browser.find_element_by_xpath('/html/body/div/div/main/div/div/div/div[1]')
        # these are the items marked with tag a
        values = items.find_elements_by_tag_name('a')

        types.append(values[0].text)
        skin_property =(values[1].text).split('-')
        skin.append(skin_property[0])
        total_traits.append(values[2].text)
        traits.append(','.join([x.text for x in values[3:]]))
        browser.close()
    except Exception as err:
        print(f'exepcion {err}')
        df = pd.DataFrame({'id':punk_id,'types':types,'rarity':rarity,'skin':skin,'total_traits':total_traits,'traits':traits})

In [95]:
df = pd.DataFrame({'id':punk_id,'types':types,'rarity':rarity,'skin':skin,'total_traits':total_traits,'traits':traits})
#df.set_index('id',inplace=True)

In [101]:
df.head()

,id,types,rarity,skin,total_traits,traits
0,0,Female,2023,Mid,3,"Blonde Bob,Earring,Green Eye Shadow,Hidden Ear..."
1,1,Male,4352,Dark,2,"Mohawk,Smile"
2,2,Female,8090,Light,1,Wild Hair
3,3,Male,7896,Dark,3,"Nerd Glasses,Pipe,Wild Hair"
4,4,Male,7332,Mid,4,"Big Shades,Earring,Goat,Wild Hair"

In [97]:
df.tail()

,id,types,rarity,skin,total_traits,traits
95,95,Male,9339,Mid,2,"Earring,Mohawk"
96,96,Female,2161,Light,1,Blonde Bob
97,97,Male,8093,Mid,1,Wild Hair
98,98,Female,436,Light,3,"Black Lipstick,Dark Hair,Welding Goggles"
99,99,Male,4997,Mid,2,"Cigarette,Hoodie"

In [99]:
df.types.unique()

array(['Female', 'Male'], dtype=object)

In [100]:
df.to_csv('punks_atributes1.csv')

In [ ]:
  
    # seleccionamos dentro de la Current Market Status la diferente info
    query_text = '/html/body/div[2]/div[3]/div[3]/div//div/text()'
    texts = sel.xpath(query_text).extract()
    texts = [text.strip() for text in texts] # remove spaces at the beggining and the end
    texts = [text for text in texts if len(text)>2] # remove useless empty text
    
    if 'for sale' in texts[1]:        
        text = texts[1].replace(',','')        
        pattern = "[0-9].*\Ξ\s\(\$[0-9]*\)"
        x = re.findall(pattern, text)                  
        datos['sale price']= x
    else:
        datos['transacion type']= None
   
    if 'a bid of' in texts[2]:
        text = texts[2].replace(',','')
        print(text)
        pattern = "[0-9].*\Ξ\s\(\$[0-9]*\)"
        x = re.findall(pattern, text)                 
        datos['bid price']= x[0]
    else:
        datos['bid price']= None
        
    print(datos)