In [1]:
import requests
from bs4 import BeautifulSoup
import re
from IPython.display import Image
import time

In [2]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [3]:
# Utilizamos Selenium para extraer datos

from selenium.webdriver import Firefox
from selenium.webdriver.firefox.options import Options
opts = Options()
opts.set_headless()
assert opts.headless  # Operating in headless mode
#browser = Firefox(options=opts)

<ipython-input-3-b56b380520ce>:6: DeprecationWarning: use setter for headless property instead of set_headless
  opts.set_headless()

In [4]:
def extract_rarity_value(text):
    text = text.replace(',','')
    data = int(re.findall('(\d+)',text)[0])
    return data

In [17]:
types=[]
skin=[]
total_traits =[]
traits =[]
punk_id=[]
rarity = []

for i in range(10000):
    try:
        punk_id.append(i)
        browser = Firefox(executable_path = '/home/vant/Descargas/geckodriver-v0.29.1-linux64/geckodriver')
        url = 'https://defypunk.com/punks/'+str(i)
        browser.get(url)
        browser.implicitly_wait(20)

        rars = browser.find_element_by_xpath('/html/body/div/div/main/div/div/div/div[1]/div[2]')

        rarity.append(extract_rarity_value(rars.text))

        items = browser.find_element_by_xpath('/html/body/div/div/main/div/div/div/div[1]')
        # these are the items marked with tag a
        values = items.find_elements_by_tag_name('a')

        types.append(values[0].text)
        skin_property =(values[1].text).split('-')
        skin.append(skin_property[0])
        total_traits.append(values[2].text)
        traits.append(','.join([x.text for x in values[3:]]))
        browser.close()
    except Exception as err:
        print(f'exepcion {err}')
        if len(types) == len(skin) == len(total_traits) == len(traits) == len(punk_id) == len(rarity):
            df = pd.DataFrame({'id':punk_id,'types':types,'rarity':rarity,'skin':skin,'total_traits':total_traits,'traits':traits})
        else:
            print('not all have same lenght investigate possible discrapancies')

In [19]:
df = pd.DataFrame({'id':punk_id,'types':types,'rarity':rarity,'skin':skin,'total_traits':total_traits,'traits':traits})
#df.set_index('id',inplace=True)

In [21]:
df.tail()

,id,types,rarity,skin,total_traits,traits
2553,9995,Female,2466,Albino,2,"Purple Eye Shadow,Straight Hair Dark"
2554,9996,Male,4323,Light,4,"Cigarette,Crazy Hair,Earring,Smile"
2555,9997,Zombie,498,Zombie,2,"Cap Forward,Front Beard"
2556,9998,Female,1271,Mid,3,"Black Lipstick,Clown Eyes Green,Wild White Hair"
2557,9999,Female,9233,Dark,2,"Mohawk,Nerd Glasses"

In [22]:
df.to_csv('punks_atributes.csv')