In [1]:
import pandas as pd
import numpy as np
import mysql.connector
import re

In [2]:
# upload all files
df1 = pd.read_csv('punks_atributes1.csv')
df2 = pd.read_csv('punks_atributes2.csv')
df3 = pd.read_csv('punks_atributes3.csv')
df4 = pd.read_csv('punks_atributes4.csv')
df5 = pd.read_csv('punks_atributes5.csv')

In [3]:
# merge into a single csv
df = pd.concat([df1,df2,df3,df4,df5],ignore_index=True)
df.drop('Unnamed: 0',axis=1,inplace=True)

In [4]:
# tenemos 10,000 punks
df.shape

(10000, 6)

In [5]:
df.head(10)

,id,types,rarity,skin,total_traits,traits
0,0,Female,2023,Mid,3,"Blonde Bob,Earring,Green Eye Shadow,Hidden Ear..."
1,1,Male,4352,Dark,2,"Mohawk,Smile"
2,2,Female,8090,Light,1,Wild Hair
3,3,Male,7896,Dark,3,"Nerd Glasses,Pipe,Wild Hair"
4,4,Male,7332,Mid,4,"Big Shades,Earring,Goat,Wild Hair"
5,5,Female,1960,Mid,3,"Earring,Half Shaved,Purple Eye Shadow,Hidden E..."
6,6,Male,7425,Mid,1,Do-rag
7,7,Female,866,Mid,3,"Clown Eyes Blue,Spots,Wild White Hair"
8,8,Male,6530,Dark,2,"Luxurious Beard,Messy Hair"
9,9,Male,1761,Mid,3,"Big Beard,Clown Nose,Police Cap"

In [6]:
df.tail()

,id,types,rarity,skin,total_traits,traits
9995,9995,Female,2466,Albino,2,"Purple Eye Shadow,Straight Hair Dark"
9996,9996,Male,4323,Light,4,"Cigarette,Crazy Hair,Earring,Smile"
9997,9997,Zombie,498,Zombie,2,"Cap Forward,Front Beard"
9998,9998,Female,1271,Mid,3,"Black Lipstick,Clown Eyes Green,Wild White Hair"
9999,9999,Female,9233,Dark,2,"Mohawk,Nerd Glasses"

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            10000 non-null  int64
 1   types         10000 non-null  object
 2   rarity        10000 non-null  int64
 3   skin          10000 non-null  object
 4   total_traits  10000 non-null  int64
 5   traits        9992 non-null   object
dtypes: int64(3), object(3)
memory usage: 468.9+ KB

In [56]:
# some missing values
df[df.traits.isnull()]

Empty DataFrame
Columns: [id, types, rarity, skin, total_traits, traits, punk_type_id, punk_skin_id]
Index: []

In [9]:
df.fillna('',inplace=True)

In [10]:
df1 = df.copy()

In [54]:
def get_number_hidden_traits(text):
    pattern = ',Hidden\s(\w+)'
    try:
        hidden = re.findall(pattern,text)
        return len(hidden)    
    except:
        return 0

In [55]:
#examples of regex
text1 = 'Blonde Bob,Earring,Green Eye Shadow,Hidden Earring,,Hidden Eear'
text2 = 'Blonde Bob,Earring,Green Eye Shadow'
text3= 'Earring, Hidden bob'

def extract_hidden_traits(text):
    match = re.findall(',Hidden\s(\w+)',text)
    if not match:
        #print("List is empty")
        return '' 
    else:
        return ','.join(match)


extract_hidden_traits(text3)

''

In [13]:
df1['total_hidden_traits']=df1['traits'].apply(get_number_hidden_traits)

In [14]:
df1['hidden_traits']=df1['traits'].apply(extract_hidden_traits)

In [15]:
text1 = 'Blonde Bob,Earring,Green Eye Shadow,Hidden Earring,Hidden Eear'

def remove_hidden_traits(text):
    match = re.findall('Hidden\s(\w+)',text)    
    if not match:
        #print("List is empty")
        return text 
    else:
        to_remove= ',Hidden '+',Hidden '.join(match)        
        clean = text.replace(to_remove,'')        
        return clean


remove_hidden_traits(text1)

'Blonde Bob,Earring,Green Eye Shadow'

In [16]:
df1['traits'] = df1['traits'].apply(remove_hidden_traits)

In [17]:
df1.traits

0                   Blonde Bob,Earring,Green Eye Shadow
1                                          Mohawk,Smile
2                                             Wild Hair
3                           Nerd Glasses,Pipe,Wild Hair
4                     Big Shades,Earring,Goat,Wild Hair
                             ...
9995               Purple Eye Shadow,Straight Hair Dark
9996                 Cigarette,Crazy Hair,Earring,Smile
9997                            Cap Forward,Front Beard
9998    Black Lipstick,Clown Eyes Green,Wild White Hair
9999                                Mohawk,Nerd Glasses
Name: traits, Length: 10000, dtype: object

In [18]:
df1

,id,types,rarity,skin,total_traits,traits,total_hidden_traits,hidden_traits
0,0,Female,2023,Mid,3,"Blonde Bob,Earring,Green Eye Shadow",1,Earring
1,1,Male,4352,Dark,2,"Mohawk,Smile",0,
2,2,Female,8090,Light,1,Wild Hair,0,
3,3,Male,7896,Dark,3,"Nerd Glasses,Pipe,Wild Hair",0,
4,4,Male,7332,Mid,4,"Big Shades,Earring,Goat,Wild Hair",0,
...,...,...,...,...,...,...,...,...
9995,9995,Female,2466,Albino,2,"Purple Eye Shadow,Straight Hair Dark",0,
9996,9996,Male,4323,Light,4,"Cigarette,Crazy Hair,Earring,Smile",0,
9997,9997,Zombie,498,Zombie,2,"Cap Forward,Front Beard",0,
9998,9998,Female,1271,Mid,3,"Black Lipstick,Clown Eyes Green,Wild White Hair",0,
9999,9999,Female,9233,Dark,2,"Mohawk,Nerd Glasses",0,

In [19]:
punk = df1[['id','types','rarity','skin','total_traits','total_hidden_traits']]

In [20]:
punk

        id   types  rarity    skin  total_traits  total_hidden_traits
0        0  Female    2023     Mid             3                    1
1        1    Male    4352    Dark             2                    0
2        2  Female    8090   Light             1                    0
3        3    Male    7896    Dark             3                    0
4        4    Male    7332     Mid             4                    0
...    ...     ...     ...     ...           ...                  ...
9995  9995  Female    2466  Albino             2                    0
9996  9996    Male    4323   Light             4                    0
9997  9997  Zombie     498  Zombie             2                    0
9998  9998  Female    1271     Mid             3                    0
9999  9999  Female    9233    Dark             2                    0

[10000 rows x 6 columns]

In [21]:
punk.to_csv('punk.csv')

In [44]:
df1

,id,types,rarity,skin,total_traits,traits,total_hidden_traits,hidden_traits
0,0,Female,2023,Mid,3,"Blonde Bob,Earring,Green Eye Shadow",1,Earring
1,1,Male,4352,Dark,2,"Mohawk,Smile",0,
2,2,Female,8090,Light,1,Wild Hair,0,
3,3,Male,7896,Dark,3,"Nerd Glasses,Pipe,Wild Hair",0,
4,4,Male,7332,Mid,4,"Big Shades,Earring,Goat,Wild Hair",0,
...,...,...,...,...,...,...,...,...
9995,9995,Female,2466,Albino,2,"Purple Eye Shadow,Straight Hair Dark",0,
9996,9996,Male,4323,Light,4,"Cigarette,Crazy Hair,Earring,Smile",0,
9997,9997,Zombie,498,Zombie,2,"Cap Forward,Front Beard",0,
9998,9998,Female,1271,Mid,3,"Black Lipstick,Clown Eyes Green,Wild White Hair",0,
9999,9999,Female,9233,Dark,2,"Mohawk,Nerd Glasses",0,

In [ ]:
df1.traits,str

In [53]:
#get traits 
traits ={}
for items in df1.traits.str.split(',').str.rep:
    for elem in items:
        print(elem)
        
        
        
            break
        elif elem in traits:
            #print('exists, add one')
            traits[elem] += 1
        else:
            #print('not exist, create set to one ')
            traits[elem] = 1

SyntaxError: invalid syntax (<ipython-input-53-771e361a2864>, line 6)

In [51]:
traits

{}

In [26]:

dic2=dict(sorted(traits.items(),key= lambda x:x[1]))
dic2

{'Spots Teeth': 1,
 'Medical Mask Teeth': 1,
 '': 8,
 'Beanie': 44,
 'Choker': 48,
 'Pilot Helmet': 54,
 'Tiara': 55,
 'Orange Side': 68,
 'Buck Teeth': 78,
 'Welding Goggles': 86,
 'Pigtails': 94,
 'Pink With Hat': 95,
 'Top Hat': 115,
 'Spots': 123,
 'Rosy Cheeks': 128,
 'Blonde Short': 129,
 'Wild White Hair': 136,
 'Cowboy Hat': 142,
 'Straight Hair Blonde': 144,
 'Wild Blonde': 144,
 'Big Beard': 146,
 'Blonde Bob': 147,
 'Half Shaved': 147,
 'Red Mohawk': 147,
 'Vampire Hair': 147,
 'Straight Hair Dark': 148,
 'Clown Hair Green': 148,
 'Straight Hair': 151,
 'Silver Chain': 156,
 'Dark Hair': 157,
 'Purple Hair': 165,
 'Gold Chain': 169,
 'Medical Mask': 174,
 'Tassle Hat': 178,
 'Fedora': 186,
 'Police Cap': 203,
 'Clown Nose': 212,
 'Smile': 238,
 'Cap Forward': 254,
 'Hoodie': 259,
 'Front Beard Dark': 260,
 'Frown': 261,
 'Purple Eye Shadow': 262,
 'Handlebars': 263,
 'Blue Eye Shadow': 266,
 'Green Eye Shadow': 271,
 'Vape': 272,
 'Front Beard': 273,
 'Chinstrap': 282,
 'Luxurious Beard': 286,
 '3D Glasses': 286,
 'Mustache': 288,
 'Normal Beard Black': 289,
 'Normal Beard': 292,
 'Eye Mask': 293,
 'Goat': 295,
 'Do-rag': 300,
 'Shaved Head': 300,
 'Muttonchops': 303,
 'Peak Spike': 303,
 'Pipe': 317,
 'VR': 332,
 'Cap': 351,
 'Small Shades': 378,
 'Clown Eyes Green': 382,
 'Clown Eyes Blue': 384,
 'Headband': 406,
 'Crazy Hair': 414,
 'Knitted Cap': 419,
 'Mohawk Dark': 429,
 'Mohawk': 441,
 'Mohawk Thin': 441,
 'Frumpy Hair': 442,
 'Wild Hair': 447,
 'Messy Hair': 460,
 'Eye Patch': 461,
 'Stringy Hair': 463,
 'Bandana': 481,
 'Classic Shades': 502,
 'Shadow Beard': 526,
 'Regular Shades': 527,
 'Big Shades': 535,
 'Horned Rim Glasses': 535,
 'Nerd Glasses': 572,
 'Black Lipstick': 617,
 'Mole': 644,
 'Purple Lipstick': 655,
 'Hot Lipstick': 696,
 'Cigarette': 961,
 'Earring': 2459}

In [27]:
tipos = {'Alien':1,'Ape':2,'Zombie':3,'Male':4,'Female':5}

In [28]:
df['punk_type_id']= df['types'].map(tipos)

In [29]:
piel = {'Alien':1,'Ape':2,'Zombie':3,'Albino':4,'Dark':5,'Light':6,'Mid':7}

In [30]:
df['punk_skin_id']= df['skin'].map(piel)

df.to_csv('punks_atributes.csv')

In [31]:
df.head()

,id,types,rarity,skin,total_traits,traits,punk_type_id,punk_skin_id
0,0,Female,2023,Mid,3,"Blonde Bob,Earring,Green Eye Shadow,Hidden Ear...",5,7
1,1,Male,4352,Dark,2,"Mohawk,Smile",4,5
2,2,Female,8090,Light,1,Wild Hair,5,6
3,3,Male,7896,Dark,3,"Nerd Glasses,Pipe,Wild Hair",4,5
4,4,Male,7332,Mid,4,"Big Shades,Earring,Goat,Wild Hair",4,7

In [32]:
mydb = mysql.connector.connect(
    host = 'localhost',    
    user = 'manel',
    password = 'itacademy',
    database="mydb")

mycursor = mydb.cursor()

In [33]:
sql_query = 'SHOW TABLES'
mycursor.execute(sql_query)

for x in mycursor:
  print(x)

('punk',)
('punk_skin',)
('punk_type',)
('shops',)
('traits',)
('transactions',)

In [34]:
# executo una comanda de SQL language
sql_query = 'SELECT * FROM punk_skin;'
mycursor.execute(sql_query)
myresult = mycursor.fetchmany()
for x in myresult:
  print(x)

In [35]:
# executo una comanda de SQL language
sql_query = 'SELECT * FROM punk_skin'
mycursor.execute(sql_query)
myresult = mycursor.fetchall()
print(myresult)

[]