In [1]:
import pandas as pd
import numpy as np
import mysql.connector
import re

In [2]:
df1 = pd.read_csv('punks_atributes1.csv')

In [3]:
df2 = pd.read_csv('punks_atributes2.csv')

In [4]:
df = pd.concat([df1,df2],ignore_index=True)

In [5]:
df.shape

(2000, 7)

In [6]:
df.head()

,Unnamed: 0,id,types,rarity,skin,total_traits,traits
0,0,0,Female,2023,Mid,3,"Blonde Bob,Earring,Green Eye Shadow,Hidden Ear..."
1,1,1,Male,4352,Dark,2,"Mohawk,Smile"
2,2,2,Female,8090,Light,1,Wild Hair
3,3,3,Male,7896,Dark,3,"Nerd Glasses,Pipe,Wild Hair"
4,4,4,Male,7332,Mid,4,"Big Shades,Earring,Goat,Wild Hair"

In [7]:
df.tail()

,Unnamed: 0,id,types,rarity,skin,total_traits,traits
1995,1895,1995,Male,5995,Dark,3,"Cap,Front Beard,Mole"
1996,1896,1996,Female,3020,Mid,2,"Dark Hair,Pipe"
1997,1897,1997,Male,4187,Mid,3,"Cigarette,Clown Nose,Frumpy Hair"
1998,1898,1998,Male,7540,Dark,3,"Big Shades,Earring,Shaved Head"
1999,1899,1999,Male,1376,Dark,2,"Cowboy Hat,Front Beard"

In [8]:
def get_hidden_trait(text):
    pattern = 'Hidden\s(\w+)'
    try:
        match = re.findall(pattern,text)
        if match:
            hidden_trait = match[0]
            return hidden_trait
    except:
        return None

In [9]:
df['hidden_trait']=df['traits'].apply(get_hidden_trait)

In [10]:
df.head()

,Unnamed: 0,id,types,rarity,skin,total_traits,traits,hidden_trait
0,0,0,Female,2023,Mid,3,"Blonde Bob,Earring,Green Eye Shadow,Hidden Ear...",Earring
1,1,1,Male,4352,Dark,2,"Mohawk,Smile",None
2,2,2,Female,8090,Light,1,Wild Hair,None
3,3,3,Male,7896,Dark,3,"Nerd Glasses,Pipe,Wild Hair",None
4,4,4,Male,7332,Mid,4,"Big Shades,Earring,Goat,Wild Hair",None

In [11]:
df.hidden_trait.unique()

array(['Earring', None, 'Mole', 'Smile', 'Frown', 'Handlebars'],
      dtype=object)

In [12]:
a = df.hidden_trait.unique()
print(a[2])

Mole

In [13]:
mydb = mysql.connector.connect(
    host = 'localhost',    
    user = 'manel',
    password = 'itacademy',
    database="mydb")

mycursor = mydb.cursor()

In [14]:
sql_query = 'SHOW TABLES'
mycursor.execute(sql_query)

for x in mycursor:
  print(x)

('punk',)
('punk_skin',)
('punk_type',)
('shops',)
('traits',)
('transactions',)

In [15]:
# executo una comanda de SQL language
sql_query = 'SELECT * FROM punk_type;'
mycursor.execute(sql_query)
myresult = mycursor.fetchmany()
for x in myresult:
  print(x)