In [111]:
import requests
from bs4 import BeautifulSoup
import re
from IPython.display import Image
import time

In [112]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [453]:
# Utilizamos Selenium para extraer datos

from selenium.webdriver import Firefox
from selenium.webdriver.firefox.options import Options
opts = Options()
opts.set_headless()
assert opts.headless  # Operating in headless mode
#browser = Firefox(options=opts)

<ipython-input-453-b56b380520ce>:6: DeprecationWarning: use setter for headless property instead of set_headless
  opts.set_headless()

In [114]:
def extract_rarity_value(text):
    text = text.replace(',','')
    data = int(re.findall('(\d+)',text)[0])
    return data

In [115]:
types=[]
skin=[]
total_traits =[]
traits =[]
punk_id=[]
rarity = []

total_punks = 10000

for i in range(total_punks):
    try:
        punk_id.append(i)
        browser = Firefox(executable_path = '/home/vant/Descargas/geckodriver-v0.29.1-linux64/geckodriver')
        url = 'https://defypunk.com/punks/'+str(i)
        browser.get(url)
        browser.implicitly_wait(20)

        rars = browser.find_element_by_xpath('/html/body/div/div/main/div/div/div/div[1]/div[2]')

        rarity.append(extract_rarity_value(rars.text))

        items = browser.find_element_by_xpath('/html/body/div/div/main/div/div/div/div[1]')
        # these are the items marked with tag a
        values = items.find_elements_by_tag_name('a')

        types.append(values[0].text)
        skin_property =(values[1].text).split('-')
        skin.append(skin_property[0])
        total_traits.append(values[2].text)
        traits.append(','.join([x.text for x in values[3:]]))
        browser.close()
    except Exception as err:
        print(f'exepcion {err}')
        if len(types) == len(skin) == len(total_traits) == len(traits) == len(punk_id) == len(rarity):
            df = pd.DataFrame({'id':punk_id,'types':types,'rarity':rarity,'skin':skin,'total_traits':total_traits,'traits':traits})
        else:
            print('not all have same length: investigate possible discrepancies')

In [119]:
df = pd.DataFrame({'id':punk_id,'types':types,'rarity':rarity,'skin':skin,'total_traits':total_traits,'traits':traits})
#df.set_index('id',inplace=True)

In [120]:
df.tail()

,id,types,rarity,skin,total_traits,traits
0,0,Female,2023,Mid,3,"Blonde Bob,Earring,Green Eye Shadow,Hidden Ear..."
1,1,Male,4352,Dark,2,"Mohawk,Smile"
2,2,Female,8090,Light,1,Wild Hair
3,3,Male,7896,Dark,3,"Nerd Glasses,Pipe,Wild Hair"
4,4,Male,7332,Mid,4,"Big Shades,Earring,Goat,Wild Hair"

df.to_csv('punks_atributes.csv')

In [553]:
punk_id =[]
amount_eth = []
amount_dollars = []
transaction_date = []

total_punks = 5000

for j in range(100):
    try:        
        browser = Firefox(executable_path = '/home/vant/Descargas/geckodriver-v0.29.1-linux64/geckodriver')
        url = 'https://www.larvalabs.com/cryptopunks/details/'+str(j)
        browser.get(url)
        browser.implicitly_wait(15)

        table = browser.find_element_by_tag_name('table')
        #rows = table.find_elements_by_tag_name('td')
        
        rows = table.find_elements_by_class_name('punk-history-row-sold')
        for row in rows:
            punk_id.append(j)
            items = row.text.split(' ')             
            amount_eth.append(items[3])
            amount_dollars.append(items[4])
            transaction_date.append(' '.join(items[5:]))
            
     
        browser.close()
        

        
    except Exception as err:
        print(f'exepcion {err}')
        
df = pd.DataFrame({'id':punk_id,'amount_eth':amount_eth,'amount_dollars':amount_dollars,'transaction':transaction_date})

In [552]:
df

     id amount_eth amount_dollars   transaction
0  5000      0.30Ξ          ($67)  Aug 03, 2017
1  5001      1.20Ξ         ($247)  Jul 29, 2017

In [ ]:
df.to_csv('transactions1.csv')

In [304]:
punk_id=[]
fecha = []
precio= []
try:    
    driver = Firefox(executable_path = '/home/vant/Descargas/geckodriver-v0.29.1-linux64/geckodriver')
    url = 'https://defypunk.com/punks/'+str(i)
    driver.get(url)
    driver.implicitly_wait(15)    
    offers_rows = 1615
    for i in range(1,51):
        print(i,end=', ')        
        row = '['+str(i)+']'
        xpath = '/html/body/div/div/main/div/div[2]/div/div/div[1]/div[2]/div[3]/div[2]/div/div/div'+row
        row = driver.find_elements_by_xpath(xpath)
        for el in row:
            items = el.text.split('\n')
            for item in items:
                if '#' in item:                    
                    punk_id.append(item)
                elif '2021' in item:                    
                    fecha.append(item)
                elif 'Ξ' in item:                    
                    precio.append(item)
                
        
        #print('*'*10)
           
                
        
    driver.close()
except Exception as err:
    print(f'exepcion {err}')

1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,

In [313]:
print(len(punk_id),len(fecha),len(precio))

28 28 28

In [308]:
sales_df = pd.DataFrame({'punk_id':punk_id,'fecha':fecha,'sale_price':precio})
sales_df

   punk_id         fecha sale_price
0    #9014  Jul 16, 2021      21.5Ξ
1    #4461  Jul 16, 2021     31.49Ξ
2    #8485  Jul 16, 2021      30.0Ξ
3    #9620  Jul 16, 2021       0.0Ξ
4    #5229  Jul 16, 2021    29.989Ξ
5    #6561  Jul 16, 2021      19.2Ξ
6    #3854  Jul 16, 2021      24.0Ξ
7    #3862  Jul 16, 2021       0.0Ξ
8    #3862  Jul 16, 2021     19.75Ξ
9    #5873  Jul 16, 2021      21.0Ξ
10   #6561  Jul 16, 2021     18.75Ξ
11   #5695  Jul 16, 2021      34.0Ξ
12   #8302  Jul 16, 2021     37.99Ξ
13   #4524  Jul 16, 2021     22.97Ξ
14   #6638  Jul 16, 2021      45.0Ξ
15   #6691  Jul 16, 2021     19.69Ξ
16   #4601  Jul 16, 2021     20.75Ξ
17   #4591  Jun 27, 2021      24.0Ξ
18   #7809  Jun 27, 2021     15.49Ξ
19   #3272  Jun 27, 2021     14.65Ξ
20   #6085  Jun 27, 2021     15.97Ξ
21    #353  Jun 27, 2021     15.99Ξ
22   #5494  Jun 26, 2021      14.6Ξ
23   #3445  Jun 26, 2021     19.88Ξ
24   #9177  Jun 26, 2021      18.0Ξ
25   #9239  Jun 26, 2021      24.0Ξ
26   #9190  Jun 26, 2021     21.49Ξ
27   #8786  Jun 26, 2021      43.5Ξ

In [314]:
sales_df.punk_id.value_counts()

#3862    2
#6561    2
#5695    1
#6638    1
#5873    1
#9190    1
#9620    1
#4591    1
#4524    1
#353     1
#8786    1
#9177    1
#6085    1
#9239    1
#4461    1
#9014    1
#6691    1
#4601    1
#5494    1
#5229    1
#7809    1
#3445    1
#8485    1
#3854    1
#3272    1
#8302    1
Name: punk_id, dtype: int64